* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 247, 228);
    margin: 3vmin;
}

h1 {
    margin-top: 1vmin;
    font-family: 'Allura';
    font-size: 35px;
    letter-spacing: 8px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Allura';
    color: rgb(0, 154, 231);
    justify-content: center;
    text-align: center;
}

h3 {
    font-family: 'Allura';
    font-size: 25px;
    color: rgb(255, 196, 0);
    justify-content: center;
    text-align: center;
}

#message {
    font-family: 'Allura';
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

button {
    padding: 1.5vmin;
    border-radius: 2.5vmin;
    border: 0.5vmin solid rgb(255, 200, 2);
    justify-content: center;
    align-self: center;
    font-family: 'Allura';
    font-size: 17px;
    box-shadow: 4px 4px 4px rgb(156, 112, 1);
    cursor: pointer;
    display: inline-block;
    margin: 10px 15px 15px 15px;
}

button:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Depth effect */
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(3, 25vmin);
    gap: 2.5vmin;
    padding: 4vmin;
    padding-right: 6vmin;
    background-color: rgb(3, 200, 218);
    border: 1vmin solid rgb(255, 200, 2);
    border-radius: 2vmin;
    margin: 2vmin;
    cursor: pointer;
}

.card {
    height: 24vmin;
    width: 19.5vmin;
    border-radius: 1.5vmin;
    position: relative;
    box-shadow: 4px 4px 4px rgb(0, 57, 69);
    cursor: pointer;
    border: 0.5vmin solid rgb(255, 200, 2);
    background-color: rgb(255, 244, 202);
    background-image: url('images/farm.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2vmin;
}

.card .back img {
    height: 20vmin;
    width: 17vmin;
    border-radius: 1.5vmin;
}

.card .back {
    background-color: rgb(255, 244, 202);
    border-radius: 1.5vmin;
    margin-top: 1vmin;
    backface-visibility: hidden;
}

.cards > div {
    transform-style: preserve-3d;
    transition: transform 0.5s, border 0.5s;
}

.cards > div.flipped {
    transform: rotateX(360deg);
}

#start-btn, #playagain-btn {
    padding: 1.5vmin;
    border-radius: 2.5vmin;
    border: 0.5vmin solid rgb(255, 200, 2);
    justify-content: center;
    align-self: center;
    font-family: 'Allura';
    font-size: 17px;
    box-shadow: 4px 4px 4px rgb(156, 112, 1);
    cursor: pointer;
    display: inline-block;
    margin: 10px 15px 15px 15px;
}

#start-btn:active, #playagain-btn:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Depth effect */
}