/* body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 206, 253);
} */

h1 {
    display: flex;
    background-color: #04f0e8;
    /* background-image: url(); */
    /* align-items: center; */
    /* background-size: cover;  */
    /* background-position: center top; */
    /* justify-content: center; */
    justify-content: center;
    text-align: center;
    padding: 3vmin;
    font-family: 'Allura', cursive;
    font-size: 6vmin;
    border-radius: 2vmin;
}

h3 {
    font-family: 'Allura', cursive;
    font-size: 3.5vmin;
    color: rgb(87, 167, 1);
    justify-content: center;
    text-align: center;
}

.header-updates {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Allura', cursive;
    font-size: 3.5vmin;
    text-align: center;
    border-radius: 2vmin;
    background-color: rgb(3, 230, 250);
    margin: 5vmin 10vmin;
}

.difficulty {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Allura', cursive;
    font-size: 20px;
    text-align: center;
}

/* .card {
    box-sizing: border-box;
    display: inline-block;
    margin: 1vmin 1vmin 2vmin 1vmin;
    cursor: auto;
    font-size: inherit;
    width: 10vmin;
    height: 14vmin;
    border-radius: 2vmin;
    background-color: #ff3030;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
} */

/* .card-container {
    display: grid;
    justify-content: center;
    grid-gap: 2px;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(0, calc(80px / 2*4));
    margin-top: 16px;
    margin-bottom: 0px;
    justify-content: space-evenly;
    border-radius: 2vmin;
    border-color: #200418;
} */

/* .flip-card {
    transform: rotateX(180deg);
} */

/* .game-difficulty {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 2vmin;
    border-color: black;
} */


/* section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 490px;
    text-align: center;
} */

/* #game-level{
    font-size: 18px;
} */
