* {
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 247, 228);
}

h1 {
    margin-top: 1vmin;
    font-family: 'Allura';
    font-size: 35px;
    letter-spacing: 8px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Allura';
    color: rgb(0, 154, 231);
    justify-content: center;
    text-align: center;
}

h3 {
    font-family: 'Allura';
    font-size: 25px;
    color: rgb(255, 196, 0);
    justify-content: center;
    text-align: center;
}

#board {
    display: grid;
    gap: 4vmin;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 3vmin;
    background-color: rgb(3, 200, 218);
    border: 1vmin solid rgb(255, 200, 2);
    border-radius: 2vmin;
    margin: 2vmin;
}

#start-btn, #restart-btn {
    padding: 1.5vmin;
    border-radius: 2.5vmin;
    border: 0.5vmin solid rgb(255, 200, 2);
    justify-content: center;
    align-self: center;
    font-family: 'Allura';
    font-size: 20px;
    box-shadow: 4px 4px 4px rgb(156, 112, 1);
    cursor: pointer;
    display: inline-block;
    margin: 10px 15px 15px 15px;
}

#start-btn:active, #restart-btn:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Depth effect */
}

.card {
    height: 23vmin;
    width: 19.5vmin;
    border-radius: 1.5vmin;
    position: relative;
    box-shadow: 10px 5px 5px black;
    cursor: pointer;
    border: 0.5vmin solid rgb(255, 200, 2);
    background-color: rgb(255, 244, 202);
}

.back-card {
    position: absolute;
    height: 23vmin;
    width: 19.5vmin;
    border-radius: 1.5vmin;
    background-image: url('images/farm.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.back-card:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}